
/* Style for the body of the page */
body {
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  color: black;
}

/* Style for the header of the page */
header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for the main content of the page */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Style for the links in the main content */
/*main a {
  color: #007aff;
  text-decoration: none;
}

/* Style for the navigation links in the header */
header nav {
  display: flex;
  background-color: #000;
  gap: 20px;
}

/* Style for the navigation link in the header */
header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

/* Style for the photo section */
.photo {
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
      }

/* Style for the small photo */
.small_photo {
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
      }

/*Style for the video section */
.video {
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height : 500px;
}
/* Style for the about section */
.about {
    text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
}

/* Style for the footer of the page */
footer {
  text-align: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
}



p {font-size: 16px;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
  background-color: #000;
}

figcaption {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: white;
  margin-top: 10px;
  background-color: #5A5A5A;
  padding: 5px;
}


code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  font-size: 10px;
  padding: 20px;

}

label{
  display: inline-block; 
  width:200px;
  font-size: 14px;
}

input{width:120px;
 font-size: 14px;

}

button {
  background-color: #5A5A5A; /* Gray */
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.gh_title {
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  color: white;
  margin-top: 10px;
  background-color: #5A5A5A;
  padding: 5px;
}

}